/* add CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* insert code from README */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}

/* create a grid display for the div emojis this will allow the content to be arranged in a grid layout 
then write grid-template-columns so content can be arranged into two columns, add grid-gap or margin in next section, add padding 
so content has space between edge of screen */
.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

/* address class emoji, add solid black border , add padding, and margin -  i think we could also do a grid gap above
 so we'll test and see what looks better - add border-radius to round corners */
 .emoji {
  border: 1px solid #222;
  padding: 1rem;
  border-radius: 8px;
 }
 /* both grid-gap and margin yeilded similar results, decided to stick with grid-gap for now */

 /* create display flex for class emoji, with a flex direction of column, this will allow us to shift 
 the items in the container well keeping them in a column
 and we will use order on class icon using -1 to bring it to the top of the column  */
    .emoji {
    display: flex;
    flex-direction: column;
    }

    .icon {
    order: -1;
    }

    /* /* text and button is actually aligned left, well emojis are center aligned, use class icon to align-self:center */
    /*margin top will need to be added to all elements 
    padding creates space between the title and line which is why we use margin-top for spacing instead */
    
    .emoji h2, .emoji p, .emoji a {
        margin-top: 1.5rem;
    }

    .emoji p {
        margin-bottom: 1.5rem;
    }

    .icon {
        align-self: center;
    }
    
    /* when moving the screen to change sizes the button isn't consistently place so we will align that to the 
    bottom of the container , to keep consisstent we need a margin-top of auto (so we need to go back and add margin-bottom just 
    to .emoji p)*/

    .emoji a {
        align-items: baseline;
        margin-top: auto;
    }

/* add bold to headings and increase font size */
    h1, h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }
/* add padding to h1 to line up with grid */
    h1 {
        padding-left: 1.25rem;
        padding-top: 1.5rem;
    }
